<DOCTYPE! html>
<html>
<body>
<h1>URL Shortener</h1>
<form action='/successful', method='POST', id='submitForm'>
	<input type='text' name='url' placeholder='Insert your full URL Here'>
	<input type='submit' value='Shorten'>
</form>
</body>
</html>